@using UniversityCourseAndResultManagement.Models.EntityModels

@{
    ViewBag.Title = "Save Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Designation> designations = ViewBag.Designations;
    List<Department> departments = ViewBag.Departments;
}

<h2>@ViewBag.Title</h2>

<hr/>


@if (ViewBag.Message != null)
{
    <p style="white-space: pre-wrap; color: blue; font-size: 20px"><b>@ViewBag.Message</b></p>
}
<form method="POST" id="teacherForm">
    <table style="width: 50%; font-size: 20px">
        <tr>
            <td></td>
            <td></td>
            <td style="padding: 15px"><label for="TeacherName">Name</label></td>
            <td style="padding: 15px"><input type="text" id="TeacherName" name="TeacherName" required="required" /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding: 15px"><label for="Address">Address</label></td>
            <td style="padding: 15px"><textarea id="Address" name="Address" required=""></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding: 15px"><label for="Email">Email</label></td>
            <td style="padding: 15px"><input type="email" id="Email" name="Email" required="required" placeholder="example@mail.com" /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding: 15px"><label for="ContactNo">Contact No</label></td>
            <td style="padding: 15px"><input type="text" id="ContactNo" name="ContactNo" maxlength="11" minlength="11" required="required" placeholder="01XXXXXXXXX" /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding: 15px"><label for="DesignationId">Designation</label></td>
            <td style="padding: 15px">
                <select id="DesignationId" name="DesignationId" required="required">
                    <option value="">--Select</option>
                    @foreach (Designation designation in designations)
                    {
                        <option value="@designation.Id">@designation.DesignationName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding: 15px"><label for="DepartmentId">Department</label></td>
            <td style="padding: 15px">
                <select id="DepartmentId" name="DepartmentId" required="required">
                    <option value="">--Select</option>
                    @foreach (Department department in departments)
                    {
                        <option value="@department.Id">@department.Code</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding: 15px"><label for="CreditToBeTaken">Credit to be Taken</label></td>
            <td style="padding: 15px"><input type="text" id="CreditToBeTaken" name="CreditToBeTaken" required="required" min="0" max="20" /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="padding: 15px"><input type="submit" value="Save" /></td>
        </tr>
        </table>
</form>